.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; }

.input-range__slider:active {
  transform: scale(1.3); }

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none; }

.input-range__slider-container {
  transition: left 0.3s ease-out; }

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }

.input-range__label--max .input-range__label-container {
  left: 50%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }

.input-range--disabled .input-range__track {
  background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #3f51b5; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%; }
.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff; }

.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em; }

.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  margin-left: -160px; }

.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em; }

.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em; }

.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  margin-left: -160px; }

.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em; }

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    top: 0; }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
    bottom: 0; }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial; } }

.Toastify__toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr; }

.Toastify__toast--rtl {
  direction: rtl; }

.Toastify__toast--default {
  background: #fff;
  color: #aaa; }

.Toastify__toast--info {
  background: #3498db; }

.Toastify__toast--success {
  background: #07bc0c; }

.Toastify__toast--warning {
  background: #f1c40f; }

.Toastify__toast--error {
  background: #e74c3c; }

.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1;
  flex: 1; }

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0; } }

.Toastify__close-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.Toastify__close-button--default {
  color: #000;
  opacity: 0.3; }

.Toastify__close-button:hover, .Toastify__close-button:focus {
  opacity: 1; }

@keyframes Toastify__trackProgress {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  animation: Toastify__trackProgress linear 1;
  background-color: rgba(255, 255, 255, 0.7); }

.Toastify__progress-bar--rtl {
  right: 0;
  left: initial; }

.Toastify__progress-bar--default {
  background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }

@keyframes Toastify__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

@keyframes Toastify__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes Toastify__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

@keyframes Toastify__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft; }

.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight; }

.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown; }

.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp; }

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft; }

.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight; }

.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp; }

.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown; }

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes Toastify__zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn; }

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut; }

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.Toastify__flip-enter {
  animation-name: Toastify__flipIn; }

.Toastify__flip-exit {
  animation-name: Toastify__flipOut; }

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0); } }

@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0); } }

@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 110%, 0); } }

@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -110%, 0); } }

.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft; }

.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight; }

.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown; }

.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp; }

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft; }

.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight; }

.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp; }

.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown; }
@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);.react-wrap {
  height: 100vh; }

.md-input-group {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  margin: 0 0 22px; }

input:focus {
  outline-offset: -2px; }

.md-input {
  color: #000;
  background: #fff;
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 13px;
  padding: 3px 0;
  margin: 3px 0 0;
  width: 100%;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.md-input-focused {
  border-bottom: 2px solid #6bace1; }

.md-input-has-value .md-input-label {
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }

.md-input-animated .md-input-group, .md-input-animated .md-input-label {
  -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1); }

.md-input-label {
  font-weight: 400;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: left center;
  -webkit-transform-origin: left center;
  -webkit-transform: translate3d(0, 22px, 0);
  transform: translate3d(0, 22px, 0); }

.md-input-error .md-input-label {
  color: #d45a58; }

.md-input-error {
  border-bottom: 2px solid #d45a58; }

.error_message {
  margin: 10px 0px;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2; }

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .auth-page .auth-wrap {
    background: #fff;
    padding: 44px 65px;
    -webkit-box-shadow: 0 1px 1px rgba(97, 127, 152, 0.2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(97, 127, 152, 0.2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
    box-shadow: 0 1px 1px rgba(97, 127, 152, 0.2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
    border-radius: 2px;
    border: 0;
    margin: 0;
    min-width: 300px;
    max-width: none;
    max-height: none; }
  .auth-page .auth-wrap-head {
    color: #222;
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: 700; }
  .auth-page .auth-wrap-lead {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%; }
  .auth-page .auth-btn-submit {
    display: inline-block;
    border-radius: 4px;
    background-color: #99baef;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; }
    .auth-page .auth-btn-submit span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s; }
      .auth-page .auth-btn-submit span:after {
        content: '\BB';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
    .auth-page .auth-btn-submit:hover span {
      padding-right: 25px; }
    .auth-page .auth-btn-submit:hover span:after {
      opacity: 1;
      right: 0; }

.layout__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  min-width: 100%;
  padding: 0 2vh 0 2vh;
  background: #23ddde;
  position: fixed;
  z-index: 1; }
  .layout__header .buttons {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 3vh; }
  .layout__header .logo {
    display: flex;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF; }
    .layout__header .logo:hover {
      cursor: pointer; }
  .layout__header .item {
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 100%;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    color: #FFFFFF; }
    .layout__header .item:hover {
      cursor: pointer;
      background: #005266; }

.layout__footer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background: rgba(35, 221, 222, 0.31);
  padding: 2vh 15vh 2vh 15vh;
  font-weight: 600; }

.content {
  display: flex;
  justify-content: center;
  min-height: 85.35vh; }
  .content .inner {
    display: flex;
    justify-content: center;
    max-width: 80%;
    min-width: 80%;
    padding: 3vh 0 5vh 0; }

.movies_container {
  display: flex;
  justify-content: stretch;
  min-height: 100%;
  width: 100%; }
  .movies_container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #23ddde;
    margin: 1em 0;
    padding: 0; }
  .movies_container .filter {
    display: flex;
    min-width: 30vh;
    height: 30vh;
    margin-right: 2vh;
    margin-top: 2vh;
    padding: 2vh;
    justify-content: space-around;
    border: 1px solid #23ddde; }
    .movies_container .filter .genres_list ul {
      list-style-type: none;
      -webkit-padding-start: 0; }
      .movies_container .filter .genres_list ul li:not(:last-child) {
        margin-bottom: 4px; }
    .movies_container .filter .genres_list .item_active {
      font-weight: bold;
      cursor: pointer; }
    .movies_container .filter .genres_list .item_inactive {
      font-weight: bold;
      cursor: pointer;
      color: #7e8883;
      opacity: 0.7; }
      .movies_container .filter .genres_list .item_inactive:hover {
        color: #111111;
        opacity: 1; }
    .movies_container .filter .filter_options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .movies_container .filter .filter_options .range_inputs_item {
        padding-bottom: 30px;
        width: 25vh;
        text-align: center;
        position: inherit; }
      .movies_container .filter .filter_options .button {
        background-color: #23ddde;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        position: inherit;
        bottom: 0;
        max-width: 10vh; }
        .movies_container .filter .filter_options .button:hover {
          cursor: pointer;
          background-color: #005266; }
  .movies_container .movies_list {
    width: 100%; }
    .movies_container .movies_list ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .movies_container .movies_item {
    display: flex;
    padding: 2vh;
    justify-content: stretch;
    border: 2px; }
    .movies_container .movies_item img {
      max-width: 100%;
      max-height: 100%; }
    .movies_container .movies_item .description {
      padding-left: 2vh;
      width: 100%; }
      .movies_container .movies_item .description .title_rating {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .movies_container .movies_item .description .title_rating_link {
          text-decoration: none;
          color: #111111; }
          .movies_container .movies_item .description .title_rating_link:hover {
            cursor: pointer;
            color: #005266; }
        .movies_container .movies_item .description .title_rating h3 {
          margin: 0;
          padding: 0; }

.rating {
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid #23ddde;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 135%; }

.pagination_wrap {
  width: 100%;
  display: flex;
  padding-top: 3vh;
  justify-content: center; }
  .pagination_wrap .pagination {
    display: inline-block; }
    .pagination_wrap .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none; }
  .pagination_wrap .pagination a.active {
    background-color: #23ddde;
    color: white; }
  .pagination_wrap .pagination a:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer; }

.movie_container {
  width: 83%; }
  .movie_container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #23ddde;
    margin: 1em 0;
    padding: 0; }
  .movie_container .movies_item {
    display: flex;
    padding: 2vh;
    justify-content: stretch;
    border: 2px; }
    .movie_container .movies_item img {
      max-width: 100%;
      max-height: 100%; }
    .movie_container .movies_item .description {
      padding-left: 2vh;
      width: 100%; }
      .movie_container .movies_item .description .title_rating {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .movie_container .movies_item .description .title_rating_link {
          text-decoration: none;
          color: #111111; }
          .movie_container .movies_item .description .title_rating_link:hover {
            cursor: pointer;
            color: #005266; }
        .movie_container .movies_item .description .title_rating h3 {
          margin: 0;
          padding: 0; }

.review_container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .review_container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #23ddde;
    margin: 1em 0;
    padding: 0; }
  .review_container .reviews_list {
    max-width: 65vh;
    min-width: 65vh; }
    .review_container .reviews_list .review_item {
      background: #23ddde;
      padding: 42px 30px 20px 30px;
      margin-top: 20px;
      border-radius: 25px; }
      .review_container .reviews_list .review_item .datestamp {
        text-align: right;
        opacity: 0.5;
        font-size: 80%; }
  .review_container .review_rating {
    min-height: 40px;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    line-height: 43px;
    text-align: center;
    font-weight: bold; }
  .review_container .a_m {
    display: flex;
    justify-content: space-between; }
    .review_container .a_m a {
      color: black;
      font-weight: bold;
      font-size: 110%; }
  .review_container .review_input input[type=text], .review_container .review_input select, .review_container .review_input textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; }
  .review_container .review_input input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .review_container .review_input input[type=submit]:hover {
    background-color: #45a049; }
  .review_container .review_input .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px; }

.actor_container {
  width: 50%; }
  .actor_container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #23ddde;
    margin: 1em 0;
    padding: 0; }
  .actor_container .actors_item {
    display: flex;
    padding: 2vh;
    justify-content: stretch;
    border: 2px; }
    .actor_container .actors_item img {
      max-width: 100%;
      max-height: 100%; }
    .actor_container .actors_item .description {
      padding-left: 5vh;
      width: 100%; }
      .actor_container .actors_item .description .title_rating {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .actor_container .actors_item .description .title_rating_link {
          text-decoration: none;
          color: #111111; }
          .actor_container .actors_item .description .title_rating_link:hover {
            cursor: pointer;
            color: #005266; }
        .actor_container .actors_item .description .title_rating h3 {
          margin: 0;
          padding: 0; }
  .actor_container .filmography {
    padding-left: 2vh; }
    .actor_container .filmography ul {
      list-style-type: none; }
      .actor_container .filmography ul li {
        padding-top: 10px; }
        .actor_container .filmography ul li .movie_link {
          margin: 5px;
          text-decoration: none;
          color: black; }
          .actor_container .filmography ul li .movie_link:hover {
            color: #23ddde; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.header {
  height: 7vh; }

.footer {
  height: 7vh; }

/*# sourceMappingURL=style.css.map*/